<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155836554656-7gdlg2fl9oqkjd7o7tubjfploudvs5nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155836554656-7gdlg2fl9oqkjd7o7tubjfploudvs5nv</string>
	<key>API_KEY</key>
	<string>AIzaSyCzdmkcz36Er26qibTC4ct2iNq6lVxC7jM</string>
	<key>GCM_SENDER_ID</key>
	<string>155836554656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etstech.ios.PG-Beauty</string>
	<key>PROJECT_ID</key>
	<string>pg-beauty</string>
	<key>STORAGE_BUCKET</key>
	<string>pg-beauty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:155836554656:ios:783578189881d1b9b0d8c5</string>
	<key>DATABASE_URL</key>
	<string>https://pg-beauty.firebaseio.com</string>
</dict>
</plist>
